a {
  color: #3276fd !important;
}

.question-list {
  border: 2px solid #ddd;
}

.question-list a {
  font-size: 22px;
  text-decoration: none;
  /* color: #1c7194; */
}

.category-list {
  border: 2px solid #ddd;
}

.category-list a {
  font-size: 18px;
  text-decoration: none;
}

.qsn-dtl {
  color: #1c7194;
}

.ans-box {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
}

.my-ques{
  display: flex;
  justify-content: space-between;
}